<div class="container mt-4">
  <div class="mb-3">
    <label for="selectedMonth" class="form-label">Виберіть місяць:</label>
    <input type="month" id="selectedMonth" class="form-control" [(ngModel)]="selectedMonth" (change)="calculateMetrics()">
  </div>

  <div class="metrics mt-4">
    <h2>Коротка інформація за {{ selectedMonth | date:'MMMM yyyy' }}</h2>

<!-- Інші метрики -->
<div>
  <h3>Топ-10 користувачів за кількістю отриманих кредитів</h3>
  <ul>
    <li *ngFor="let user of topUsersByLoanCount">
      {{ user.user }} - {{ user.count }} кредитів
    </li>
  </ul>
</div>

<div>
  <h3>Топ-10 користувачів за сумою сплачених відсотків</h3>
  <ul>
    <li *ngFor="let user of topUsersByInterestPaid">
      {{ user.user }} - {{ user.totalInterest | number:'1.2-2' }} грн.
    </li>
  </ul>
</div>

<div>
  <h3>Топ-10 користувачів за співвідношенням суми сплачених відсотків до суми виданих кредитів</h3>
  <ul>
    <li *ngFor="let user of topUsersByRatio">
      {{ user.user }} - {{ user.ratio | percent:'1.2-2' }}
    </li>
  </ul>
</div>

    <h5>Метрики за {{ selectedMonth | date:'MMMM yyyy' }}:</h5>
    <ul>
      <li>Загальна кількість виданих кредитів: {{ totalLoans }}</li>
      <li>Середня сума видачі кредитів: {{ averageLoanAmount | currency }}</li>
      <li>Загальна сума виданих кредитів: {{ totalLoanAmount | currency }}</li>
      <li>Загальна сума нарахованих відсотків: {{ totalInterestAccrued | currency }}</li>
      <li>Загальна кількість повернених кредитів: {{ totalLoansReturned }}</li>
    </ul>
  </div>
</div>
